.mensagem{
 height:10%;
 width: 30%;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 margin-top: 25%;
 margin-left: 32%;
 border-radius: 10px;
 background-color: aliceblue;
}
.mensagem h1 {
    filter: drop-shadow(0 0 15px #03fa6e);
}