
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    height:300px;
    
}
.conjunto{
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.dombank :hover{
    color: rgb(8, 107, 201);
}
.informacoes :hover{
    color: rgb(8, 107, 201);
}
.sociais :hover{
    color: rgb(8, 107, 201);
}
.contato :hover{
    color: rgb(8, 107, 201);
}
h1{
    color: rgb(221, 221, 221);
}
@media (max-width:1000px){
    .conjunto{
        display: flex;
        flex-direction: column;
    }
}
p{
    padding-top: 5px;
}